<br>
<br>
<br>
<h2>
    <%=transaction.transactionType%>
    </h2>
    <h3><%=transaction.transactionStatus%></h3>
    <h3>Created at: <%=transaction.createdAt%></h3>

    <h3>Updated at: <%=transaction.updatedAt%></h3>

    <h3>Sender: <%=transaction.senderId%></h3>

     
    <h3>Reciever at: <%=transaction.recipientId%></h3>

    <h3>Amount: <%=transaction.amount%></h3>

    


